*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.container{
      height: 100%;
      width: 100%;
      background: #42455a;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0px 20px ;
    color: #b2b1b1;
    cursor: pointer;
}
.logo img{
    width: 70px;
    margin-top: -20px;
    margin-right: 40px;
    
}
.signup{
    color:#b2b1b1;
    position: absolute;
    top: 40px;
    right: 80px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,rgb(0, 195, 255));
    background-origin:border-box;
    background-clip: padding-box,border-box; /*can use content-box instead of padding box also*/
    padding: 8px 22px;
    /*can also use span tag for Sign up and open up .signup span{} add display:bloack and the padding.*/
}
.menu ul li:hover{
    color: #fd00da;
    transition: 0.7s;
}
.menu ul li a:hover{
    color: #fd00da;
    background-image: linear-gradient(#292a39,#292a39),radial-gradient(circle at top left,#fd00da,rgb(0, 195, 255));
    background-origin:border-box;
    background-clip: padding-box,border-box;
    transition: 0.7s;
    
}
.banner{
    position: relative;
    width: 70%;
    height: 50%;
    left: 80px;
    color: #fff;
}
.text{
    width: 540px;
    float:left;
   
}
.text h1{
    font-size: 43px;
    position: relative;
    width:640px;
    margin-left: 40px;
}
.text p{
    font-size: 15px;
    width: 640px;
    margin: 40px;
    line-height: 30px;
    color: #919191;
}
.image{
    width: 50%;
    float: right;
}
.image img{
    width: 80%;
    margin-left: 300px;
    margin-top: -220px;

}
.icon{
    display: inline-flex;
    margin-left: 40px;
    ;
}
.innericon{
        height: 50px;
        width: 50px;
        border: 2px solid transparent;
        border-radius: 50%;
        background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,rgb(0, 195, 255));
        background-origin:border-box;
        background-clip: padding-box,border-box;
        text-align: center;
        
        
}
.innericon .fa{
    padding: 18px ;
    font-size: 13px;
    cursor: pointer;

}
small{
    margin: auto 20px;
    font-size: 12px;
    color: #19daf1;
    letter-spacing: 3px;
    cursor: pointer;
}
small:hover{
    transition: 0.5s;
    color: #fff;
}
.links{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to right,#fd00da,#19daf1);

}
.links ul{
    display: inline-flex;
    margin: 25px auto ;
    text-align: center;
}
.links ul li{
    list-style: none;
    margin: 0px 50px;
    cursor: pointer;
}
.links ul li:hover{
    color: aliceblue;
    transition: 0.3s;
} 

.social{
    position:absolute;
    right: 60px;
    bottom: 40px;
}
.social ul li{
    list-style: none;
    padding:15px ;
    text-align: center;

}
.social ul li a{
    color: #919191;
    border-radius: 50%;
    border: solid 2px #999;
    padding:5px;
    display: block;
}
